<template>
  <nav class="flex box-border items-center justify-between flex-wrap bg-primary text-white px-2 leading-10">
    <div class="flex items-center flex-shrink-0 text-white mr-6 box-border">
      <router-link class="text-teal-100 font-bold" to="/dashboard">Pretor 2.0</router-link>
    </div>
    <ul class="flex items-center justify-around">
      <li class="cursor-pointer">
        <router-link exact class="nav-link" to="/entity">Entidades</router-link>
      </li>
      <li class="">
        <router-link class="nav-link" to="/areas">Áreas</router-link>
      </li>
      <li class="">
        <router-link exact class="nav-link" to="/kind">Classes</router-link>
      </li>
      <li class="">
        <router-link exact class="nav-link" to="/persona">Pessoas</router-link>
      </li>
      <div class="flex justify-end inline-block z-auto hover:bg-teal-500">
        <select class="block appearance-none w-full hover:bg-teal-500 bg-primary px-1 py-2 leading-tight focus:outline-none">
          <option>{{auth.username}}</option>
          <option>Option 2</option>
          <option>Sair</option>
        </select>
        <div class="pointer-events-none inset-y-0 right-0 flex items-center text-teal-100 mx-1">
          <font-awesome-icon :icon="['fas','chevron-down']" size="xs" class="mr-1 p-0" />
        </div>
      </div>
    </ul>

  </nav>
</template>

<script>
import { mapState, mapGetters } from 'vuex'

export default {
  name: 'NavTopPage',
  data () {
    return {
      openMenuLogin: false
    }
  },
  computed: {
    ...mapGetters(['auth', 'username']),
    ...mapState({ auth: state => state.auth })
  },
  methods: {
    changeMenuState () {
      this.openMenuLogin = !this.openMenuLogin
    }
  }

}
</script>

<style>
</style>
