@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");

@tailwind base;

@tailwind components;

<<<<<<< HEAD=======>>>>>>>9d1b545d58aea8b4863afc65cb453cfeaecba1f4 .card {
  @apply shadow-md rounded-b-sm border-gray-300 border;
}

.card-title {
  @apply h-auto text-terciary p-2;
}

.card-body {
  @apply p-1 bg-white;
}

.input-icon {
  @apply flex border rounded-sm bg-gray-100 h-10 items-center;
}

.btn {
  @apply font-bold py-2 px-4 h-10;
}

.btn-primary {
  @apply bg-primary text-white;
}

.btn-primary:hover {
  @apply bg-blue-900;
}

.btn-success {
  @apply bg-teal-500 text-teal-100 font-medium shadow text-sm p-1;
}

.btn-success:hover {
  @apply bg-teal-600 shadow-lg;
}

.btn-success:disabled {
  @apply bg-secondary cursor-default;
}

.btn-secondary {
  @apply bg-secondary text-gray-100 font-medium shadow text-sm p-1;
}

.btn-secondary:hover {
  @apply bg-gray-700 shadow-lg;
}

.btn-danger {
  @apply bg-red-600 text-gray-100 font-medium shadow text-sm p-1;
}

.btn-danger:hover {
  @apply bg-red-700 shadow-lg;
}

.is-invalid {
  @apply text-red-500 italic text-sm;
}

.nav-link {
  @apply text-teal-100 py-3 px-1 leading-10 h-10
}

.nav-link:hover {
  @apply text-primary bg-teal-500
}

.nav-link.router-link-active {
  @apply bg-teal-500 text-primary font-medium border-t-2 border-teal-500
}

.input-invalid {
  @apply border-red-300;
}

.form-group {
  @apply flex flex-col mx-1 px-1;
}

.form-group label {
  @apply text-primary text-sm pl-1 ml-1;
}

.form-group .input {
  @apply appearance-none bg-gray-100 text-primary text-sm rounded-sm font-semibold border border-gray-500 p-1 h-8 m-2 z-0;
}

.form-group .radio-group {
  @apply flex border border-gray-300 mx-2 mb-1 p-1 h-8;
}

.form-group.radio-group .radio {
  @apply p-1 h-8;
}

.form-group .radio-group>label {
  @apply text-primary mr-1;
}

.radio-title {
  @apply w-2/4 text-sm text-primary mr-1;
}

.form-group .input-dark {
  @apply appearance-none bg-primary text-green-400 text-sm rounded-sm font-semibold border border-gray-200 p-1 h-8 m-2;
}

.form-group select {
  @apply appearance-none border border-gray-500 bg-gray-100 h-8 text-sm px-1 my-1 mx-2 rounded-sm font-semibold;
}

.input {
  @apply appearance-none bg-gray-100 text-primary text-sm rounded-sm border border-gray-200 p-1 m-2;
}

.input-search {
  @apply bg-primary border-transparent text-sm text-teal-400 font-semibold m-0 px-1 h-8;
}

.pagination {
  @apply flex p-1 items-center text-white text-sm;
}

.pagination li {
  @apply border-transparent border-r border-teal-400 bg-teal-500 leading-8 h-8
}

.page-link {
  @apply font-medium leading-8 h-8 inline-block items-center px-2
}

.page-link:hover {
  @apply text-primary font-semibold;
}

.pagination .page-active {
  @apply bg-primary text-teal-400 font-semibold cursor-auto;
}

.pagination .page-active a {
  @apply pointer-events-none;
}

.page-inative a {
  @apply text-teal-400 cursor-not-allowed pointer-events-none;
}

.page-inative a:hover {
  @apply text-secondary cursor-not-allowed pointer-events-none;
}

.page-inative .page-link :hover {
  @apply text-secondary cursor-auto pointer-events-none;
}

.container-center {
  @apply flex flex-row justify-center
}

/* Esta função utilities deve ficar depois das classes criadas segundo a documentação */

@tailwind utilities;

select>option {
  @apply text-teal-500 bg-primary border-0 m-1
}
