<template>
  <div class="flex justify-center items-center w-screen h-screen bg-white">
    <div class="card w-auto h-auto">
      <div class="card-title bg-primary flex justify-between">
        <font-awesome-icon icon="balance-scale-right" class="p-1 text-5xl text-secondary" />
        <h1 class="font-bold text-3xl text-secondary">Pretor 2.0</h1>
      </div>
      <div class="card-body">
        <p class="text-center text-secondary border-b border-teal-500">Credenciais de acesso</p>
        <div class="m-1 p-1">
          <span v-if="errors.msg" class="bg-red-100 border border-red-400 pl-1 items-center text-red-700 text-sm rounded flex">
            <font-awesome-icon icon="user-alt-slash" class="mr-2" /> {{errors.msg}}
          </span>
        </div>
        <form v-on:submit.prevent="login()">
          <div class="p-1">
            <div class="input-icon" :class="{'input-invalid' : errors.email}">
              <font-awesome-icon icon="envelope" class="p-1 text-3xl text-secondary" />
              <input type="email" class="appearance-none w-full text-primary p-1" placeholder="Informe e-mail" v-model="form.email">
            </div>
            <div class="pl-1 pb-1">
              <span v-if="errors.email" class="is-invalid">{{errors.email[0]}}</span>
            </div>
          </div>
          <div class="p-1">
            <div class="input-icon" :class="{'input-invalid' : errors.password}">
              <font-awesome-icon icon="key" class="p-1 text-3xl text-secondary" />
              <input class="appearance-none text-primary p-1 w-full" type="password" placeholder="Informe a senha" v-model="form.password" />
            </div>
          </div>
          <div class="pl-1 pb-1">
            <span v-if="errors.password" class="is-invalid">{{errors.password[0]}}</span>
          </div>
          <div class="border-teal-500 border-b p-1 w-100">
            <button type="submit" class="btn btn-primary block w-full">ACESSAR</button>
          </div>
          <div class="mt-2">
            <router-link to="/" class="text-secondary hover:text-primary font-thin p-1">Recuperar acesso</router-link>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'Login',
  data () {
    return {
      form: {
        email: '',
        password: ''
      },
      errors: '',
      visible: false
    }
  },
  computed: {
    emailInvalid () {
      return (this.errors.email) || false
    }
  },
  methods: {
    ...mapActions('auth', ['SignIn']),
    login () {
      this.errors = ''
      // this.$toast.info('Consultando credenciais, aguarde...', 'Consulta', this.$root._data.login)
      this.SignIn(this.form)
        .then(resp => {
          if (resp.status === 401) {
            this.errors = { msg: 'Usuário não autorizado, verifique suas credenciais!' }
          }
          if (resp.status === 422) {
            const { errors } = resp.data
            this.errors = errors
          }
        })
    }
  }
}
</script>
