<template>
  <div class="preloader absolute flex justify-center items-center w-screen opacity-75 bg-teal-500" v-show="hasLoading">
    <h1 class="flex bg-transparent text-6xl text-white min-h-screen">
      <font-awesome-icon :icon="['fa','balance-scale-right']" spin size="1x" class="m-4" /> Aguarde...
    </h1>

  </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters('spinner', ['hasLoading'])

    // esta propriedade esta inativa para remoção
    // showPreloader () {
    //   // return this.$store.state.preloader.loading
    //   return false
    // }
  }
}
</script>

<style scoped>
.preloader {
  z-index: 9999;
  height: 100vw;
}
</style>
