<template>
  <div class="flex flex-col box-border">
    <pre-loader />
    <NavTopPage />
    <section class="flex flex-col max-h-screen">
      <router-view />
    </section>
  </div>
</template>

<script>
import NavTopPage from '../nav/NavTopPage'
export default {
  components: { NavTopPage },
  name: 'AppLayout'
}
</script>

<style>
</style>
