<template>
  <div class="">
    <nav class="sidebar">
      <ul class="sidebar-nav">
        <li class="logo">
          <a href="" class="nav-a">
            <font-awesome-icon icon="balance-scale-right"></font-awesome-icon>
          </a>
        </li>
        <li class="sidebar-item">
          <router-link to="/dashboard" class="nav-a">
            <font-awesome-icon icon="balance-scale-right" size="3x" class="" />
            <span class="link-text">Dashboard</span>
          </router-link>
        </li>
        <li class="sidebar-item">
          <router-link to="/areas" class="nav-a">
            <font-awesome-icon icon="users" size="3x" class="" />
            <span class="link-text">Áreas</span>
          </router-link>
        </li>
        <li class="sidebar-item">
          <router-link to="/entity" class="nav-a">
            <font-awesome-icon icon="building" size="3x" class="" />
            <span class="link-text">Entidades</span>
          </router-link>
        </li>
        <li class="sidebar-item">
          <a href="" class="nav-a">
            <font-awesome-icon icon="users" size="3x" class="" />
            <span class="link-text">Áreas</span>
          </a>
        </li>
        <li class="sidebar-item ">
          <router-link to="/login" class="nav-a">
            <font-awesome-icon icon="users" size="3x" class="" />
            <span class="link-text">Sair</span>
          </router-link>
        </li>
      </ul>
    </nav>
    <main class="ml-20 p-4">
      <router-view />
    </main>
  </div>
</template>

<script>
export default {
  name: 'PublicLayout'
}
</script>

<style scoped>
/* https://www.youtube.com/watch?v=biOMz4puGt8 */
.sidebar {
  @apply h-screen bg-primary fixed w-12 ease-in-out duration-500;
}

.sidebar:hover {
  width: 12rem;
}

.sidebar:hover .link-text {
  @apply block;
}

.sidebar-nav {
  @apply list-inside px-1 flex flex-col items-center h-full;
}

.sidebar-item {
  @apply w-full text-white text-center items-center;
}

.sidebar-item:last-child {
  @apply mt-auto;
}

.nav-a {
  @apply flex items-center h-20 no-underline opacity-50 ease-in duration-200;
}

.nav-a:hover {
  @apply text-teal-500 opacity-100 bg-gray-800;
}

.nav-a svg {
  @apply text-3xl text-center;
}

.link-text {
  display: none;
  margin-left: 1rem;
}
.logo {
  @apply font-bold mb-4 text-center text-secondary tracking-wide;
}

.logo .link-text {
  @apply duration-300 transition-opacity opacity-0;
}

.sidebar:hover.logo.link-text {
  @apply duration-700 opacity-75;
}
.logo svg {
  @apply rotate-0 duration-200 opacity-75;
}

.sidebar:hover .logo svg {
  @apply rotate-180 duration-1000 opacity-100;
}
</style>
