<template>
  <form @submit.prevent="onSubmit">
    <slot />
  </form>
</template>

<script>
import FormClass from '@/core/utils/formClass'
import { mapActions } from 'vuex'
export default {
  name: 'FormBase',
  props: ['data'],
  data () {
    return {
      form: ''
    }
  },
  methods: {
    ...mapActions('areas', ['saveRecord']),

    onSubmit () {
      this.saveRecord()
    }
  },
  mounted () {
    this.data = new FormClass(this.data)
  }
}
</script>

<style>
</style>
