<template>
  <div class="flex flex-col w-full">
    <div class="justify-center">
      <table-search v-if="searchShow" :namespace="resource" class="w-full" />
      <table class="table justify-center w-full">
        <table-head :headers="headers" :linkTo="resource" :namespace="resource" />
        <!--    <table-row :items="items" :headers="headers" :namespace="areas[areas]" />-->
        <!--    <table-row :headers="headers" :namespace="namespaceItem" />-->
        <table-row :items="items" :headers="headers" :namespace="resource" />
      </table>
    </div>
  </div>
</template>

<script>
import TableHead from './TableHead'
import TableRow from './TableRow'
import TableSearch from './TableSearch'
export default {
  components: { TableHead, TableRow, TableSearch },
  name: 'TableList',
  props: {
    headers: Array,
    resource: String,
    items: Array,
    searchShow: Boolean
  }
}
</script>
