<template>
  <div class="flex justify-around bg-teal-500 px-1 text-sm text-primary">
    <div v-for="(field, i) in searchebles" :key="i" class="flex items-center inline-block mx-2 my-1">
      <label class="px-1">{{field.title}}:</label>
      <div class="bg-primary px-1">
        <input type="text" class="input-search shadow" @keypress.enter="setParams()" v-model="params[field.field]" />
        <button class="bg-primary text-teal-500 hover:text-teal-400" @click="params[field.field] = ''">
          <font-awesome-icon icon="backspace" class="" />
        </button>
      </div>
    </div>
    <button type="button" class="mx-1 bg-primary text-teal-500 p-1 mb-1 shadow-md rounded mt-auto hover:text-teal-400" @click="setParams()">
      <font-awesome-icon icon="search" />
    </button>
    <div class="flex items-center my-1 relative">
      <span class="mx-1">Items por página:</span>
      <select class="appearance-none text-teal-400 bg-primary font-semibold block pr-3 pl-1 h-8" v-model="params.per_page" @change="setParams()">
        <option>1</option>
        <option>5</option>
        <option>10</option>
        <option>15</option>
        <option>25</option>
        <option>50</option>
        <option>75</option>
        <option>100</option>
      </select>
      <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center text-teal-400">
        <font-awesome-icon :icon="['fas', 'chevron-down']" size="xs" class="mr-1 p-0" />
      </div>
    </div>
  </div>
</template>

<script>
import { createNamespacedHelpers, mapState } from 'vuex'

export default {
  name: 'TableSearch',
  props: ['namespace'],

  data () {
    return {
      params: {
        page: 1, // deve permanecer 1 para evitar pagina inexistente no paginator
        per_page: 10
      }
    }
  },

  computed: {
    ...mapState({
      fields (state) {
        return state[this.namespace].fields
      }
    }),

    searchebles () {
      return this.fields.filter(f => f.searched === true)
    }
  },

  beforeCreate () {
    const namespace = this.$options.propsData.namespace
    const { mapActions } = createNamespacedHelpers(namespace)
    this.$options.methods = {
      ...mapActions(['changeParams']),
      setParams () {
        this.changeParams({ params: this.params })
      }
    }
  }
}
</script>
