<template>
  <thead class="bg-primary text-gray-100 items-center">
    <th v-for="(header, i) in headers" :key="i" class=" text-left pl-1 text-sm h-8">
      <button v-if="header.filter" @click="changeOrderBy(header.field)" class="text-sm font-semibold h-8 hover:text-teal-400">
        {{header.title}}
        <font-awesome-icon :icon="iconName" transform="{ rotate: rotateIcon }" v-if="currentSort === header.field" />
      </button>
      <span v-else>{{header.title}}</span>
    </th>
    <th class="text-right">
      <router-link exact :to="to" class="bg-teal-500 hover:bg-teal-600 h-8 py-1 px-2 m-0">
        <font-awesome-icon icon="plus" />
      </router-link>
    </th>
  </thead>
</template>

<script>
import { createNamespacedHelpers, mapState } from 'vuex'

export default {
  name: 'TableHeader',

  props: {
    linkTo: String,
    headers: Array,
    namespace: String
  },

  data () {
    return {
      rotateIcon: 0,
      click: false,
      currentSort: 'name',
      currentSortDir: 'ASC',
      nome: ''
    }
  },

  computed: {
    ...mapState({
      params (state) {
        return state[this.namespace].params
      }
    }),

    to () { return `/${this.linkTo}/new` },

    iconName () {
      return this.currentSortDir === 'ASC' ? 'angle-up' : 'angle-down'
    }
  },

  beforeCreate () {
    const namespace = this.$options.propsData.namespace
    const { mapActions } = createNamespacedHelpers(namespace)
    this.$options.methods = {
      ...mapActions(['changeParams']),

      changeOrderBy (col) {
        if (col === this.currentSort) {
          this.currentSortDir = this.currentSortDir === 'ASC' ? 'DESC' : 'ASC'
        }
        this.currentSort = col
        const edit = { params: { order: this.currentSort, order_type: this.currentSortDir } }
        this.changeParams(edit)
      }
    }
  }
}
</script>
