<template>
  <tbody>
    <tr v-for="(item,i) in items" :key="i" class="hover:bg-teal-500 text-sm" :class="{'bg-gray-300': i % 2 === 0}">
      <td v-for="(header, i) in headers" :key="i" class="px-1">
        {{item[header.field]}}
      </td>
      <td class="text-right">
        <router-link :to="to(item.id)" class="text-primary hover:text-white px-1">
          <font-awesome-icon icon="pencil-alt" />
        </router-link>
      </td>
    </tr>
  </tbody>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'TableRow',
  props: {
    headers: Array,
    // items: Array
    namespace: String
  },
  computed: {
    ...mapState({
      items (state) {
        return state[this.namespace].all
      }
    })
  },
  methods: {
    to (id) {
      return `/${this.namespace}/edit/${id}`
    }
  }
}
</script>
