<template>
  <div>
    <header-page title="Áreas Processuais" subTitle="Cadastro e atualização de áreas processuais jurídicas e administrativas" icon="balance-scale-right" />
    <div class="container-center">
      <div class=" border border-gray-400 w-2/4 h-full bg-white shadow-md">
        <h1 v-if="actionForm == 'update'" class="text-teal-500 text-2xl font-medium px-3 mb-2 mt-0 bg-primary">Atualização de Área Processual</h1>
        <h1 v-else class="text-teal-500 text-2xl font-medium px-3 mb-2 mt-0 bg-primary">Nova Área Processual</h1>
        <form @submit.prevent="saveAction">
          <div class="form-group ">
            <label class="text-primary" for="">Nome da Área Processual</label>
            <input class="input mb-0" type="text" placeholder="Nome da área" name="name" v-model="form.name" />
            <span v-for="(e,i) in errors.name" :key="i" class="text-red-700 text-xs italic px-1 mx-1" v-text="e" />
          </div>
          <div class="form-group">
            <div class="radio-group">
              <span class="radio-title text-terciary">Origem do Processo:</span>
              <input class="radio" type="radio" name="origin" v-model="form.origin" value="Judicial" />
              <label class="w-1/4" for="">Judicial</label>
              <input class="radio w-1/4" type="radio" name="origin" v-model="form.origin" value="Administrativo" />
              <label class="w-1/4" for="">Administrativo</label>
            </div>
            <span v-for="(e,i) in errors.origin" :key="i" class="text-red-700 text-xs italic px-1 mx-1" v-text="e"></span>
          </div>
          <div class="flex justify-end mx-4 my-2 border-t border-teal-500">
            <button class="btn-success w-1/4 my-1" type="submit">Salvar</button>
            <button v-if="id" class="btn-danger my-1 w-1/4" type="button" @click="deleteRecord">Excluir</button>
            <button class="btn-secondary my-1 w-1/4" type="button" @click="exitPage">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import router from '@/router'

export default {
  name: 'AreasForm',
  props: {
    id: { require: false, type: String, default: null }
  },
  data () {
    return {
      origem: ['Judicial', 'Administrativo'],
      form: {
        id: null,
        name: '',
        origin: ''
      }
    }
  },

  computed: {
    ...mapState('areas',
      {
        errors: state => state.errors,
        fields: state => state.fields
      }),
    actionForm () {
      return this.id ? 'update' : 'create'
    }
  },

  methods: {
    ...mapActions('areas', ['changeRecord', 'getRecord']),

    deleteRecord () {
      this.form.action = 'delete'
      this.saveAction()
    },

    async saveAction () {
      this.form.action = (this.form.action !== 'delete') ? this.actionForm : 'delete'
      await this.changeRecord(this.form)
    },

    async loadArea () {
      if (this.id) {
        await this.getRecord(this.id)
          .then(resp => {
            if (resp.status === 200) {
              this.form.id = resp.data.id
              this.form.name = resp.data.name
              this.form.origin = resp.data.origin
            }

            if (resp.status === 400) {
              this.exitPage()
            }
          })
      }
    },

    exitPage () {
      router.push({ name: 'areas.index' })
    }
  },
  created () {
    this.loadArea()
  }
}
</script>

<style>
</style>
