<template>
  <div>
    <header-page title="Áreas Processuais" sub-title="Listagem de Áreas Processuais" icon="balance-scale-right" />
    <table-list :headers="fields" resource="areas" class="border-b border-secondary pb-1" :searchShow=true />
    <pagination-table @paginate="onPageChange" :pagination="paginate" :offset="4" :description=true />
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import PaginationTable from '@/core/components/pagination/PaginationTable'

export default {
  name: 'AreasPage',
  components: { PaginationTable },
  data () {
    return {
      paramsSearch: {
        params: {
          order: 'name',
          order_type: 'ASC'
        }
      },
      namespaceItem: 'areas'
    }
  },
  computed: {
    ...mapState('areas',
      {
        fields: state => state.fields,
        params: state => state.params,
        paginate: state => state.pagination
      }),
    perPage () {
      return this.params.per_page
    }
  },
  methods: {
    ...mapActions('areas', ['getAll', 'changeParams']),

    fetchRecords (setPage) {
      // SetPage Boolean para determinar que volte para a paginação para o
      // início após uma pesquisa por nome
      if (setPage) this.paramsSearch.params.page = 1
      this.changeParams(this.paramsSearch)
    },
    onPageChange (page) {
      this.paramsSearch.params.page = page
      this.changeParams(this.paramsSearch)
    }
  },
  created () {
    this.fetchRecords()
  }
}
</script>

<style>
</style>
