<template>
  <div>
    <header-page title="Entidades" sub-title="Listagem de Entidades" icon="building" />
    <table-list :headers="fields" resource="entity" class="border-b border-secondary pb-1" :searchShow=true />
    <pagination-table @paginate="onPageChange" :pagination="paginate" :offset="4" :description=true />
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import PaginationTable from '@/core/components/pagination/PaginationTable'

export default {
  name: 'EntityPage',
  components: { PaginationTable },
  data () {
    return {
      paramsSearch: {
        params: {
          order: 'name',
          order_type: 'ASC'
        }
      },
      namespaceItem: 'entity'
    }
  },

  computed: {
    ...mapState('entity',
      {
        fields: state => state.fields,
        params: state => state.params,
        paginate: state => state.pagination
      }),

    perPage () {
      return this.params.per_page
    }
  },

  methods: {
    ...mapActions('entity', ['getAll', 'changeParams']),

    fetchRecords (setPage) {
      // SetPage Boolean para determinar que volte para a paginação para o
      // início após uma pesquisa por nome
      if (setPage) this.paramsSearch.params.page = 1
      this.changeParams(this.paramsSearch)
    },

    onPageChange (page) {
      this.paramsSearch.params.page = page
      this.changeParams(this.paramsSearch)
    }
  },

  created () {
    this.fetchRecords()
  }
}
</script>

<style>
</style>
