<template>
  <div>
    <header-page title="Entidades" subTitle="Cadastro e atualização de Entidades jurídicas e administrativas" icon="building" />
    <div class="container-center">
      <div class=" border border-gray-400 w-2/4 h-full bg-white shadow-md">
        <h1 v-if="actionForm == 'update'" class="text-teal-500 text-2xl font-medium px-3 mb-2 mt-0 bg-primary">Atualização de Entidade</h1>
        <h1 v-else class="text-teal-500 text-2xl font-medium px-3 mb-2 mt-0 bg-primary">Nova Entidade</h1>
        <form @submit.prevent="saveAction">
          <div class="form-group ">
            <label class="text-primary" for="">Nome da Entidade</label>
            <input class="input mb-0" type="text" placeholder="Nome da Entidade" name="name" v-model="form.name" />
            <span v-for="(e,i) in errors.name" :key="i" class="text-red-700 text-xs italic px-1 mx-1" v-text="e" />
          </div>
          <div class="flex justify-end mx-4 my-2 border-t border-teal-500">
            <button class="btn-success w-1/4 my-1" type="submit">Salvar</button>
            <button v-if="id" class="btn-danger my-1 w-1/4" type="button" @click="deleteRecord">Excluir</button>
            <button class="btn-secondary my-1 w-1/4" type="button" @click="exitPage">Cancelar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import router from '@/router'

export default {
  name: 'EntityForm',
  props: {
    id: { require: false, type: String, default: null }
  },
  data () {
    return {
      form: {
        id: null,
        name: ''
      }
    }
  },

  computed: {
    ...mapState('entity',
      {
        errors: state => state.errors,
        fields: state => state.fields
      }),
    actionForm () {
      return this.id ? 'update' : 'create'
    }
  },

  methods: {
    ...mapActions('entity', ['changeRecord', 'getRecord']),

    deleteRecord () {
      this.form.action = 'delete'
      this.saveAction()
    },

    async saveAction () {
      this.form.action = (this.form.action !== 'delete') ? this.actionForm : 'delete'
      await this.changeRecord(this.form)
    },

    async loadArea () {
      if (this.id) {
        await this.getRecord(this.id)
          .then(resp => {
            if (resp.status === 200) {
              this.form.id = resp.data.id
              this.form.name = resp.data.name
            }

            if (resp.status === 400) {
              this.exitPage()
            }
          })
      }
    },

    exitPage () {
      router.push({ name: 'entity.index' })
    }
  },
  created () {
    this.loadArea()
  }
}
</script>

<style>
</style>
