<template>
  <header class="grid box-border shadow-md bg-white w-full mb-3 py-1">
    <div class="flex justify-content-start">
      <div class="px-2 ">
        <font-awesome-icon
          :icon="icon"
          class="p-1 text-secondary"
          size="4x"
        />
      </div>
      <div class="justify-start">
        <h1 class="text-primary font-extrabold text-2xl">
          {{title}}
        </h1>
        <p class="text-secondary mt-0">{{subTitle}}</p>
      </div>
    </div>
  </header>
</template>

<script>

export default {
  name: 'HeaderPage',
  props: {
    title: String,
    subTitle: String,
    icon: String
  }

}
</script>

<style>
</style>
