<template>
  <div class="form-group ">
    <label class="text-primary" for="">{{label}}</label>
    <input class="input mb-0" type="text" placeholder="Nome da área" v-model="f" />
    <span v-for="(e,i) in errors[field]" :key="i" class="text-red-700 text-xs italic px-1 mx-1" v-text="e" />
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'InputBase',
  props: ['label', 'namespace', 'field'],
  computed: {
    ...mapState('areas', { errors: state => state.errors, fields: state => state.fields })
  }
}
</script>

<style>
</style>
