<template>
  <div class="col-12">
    <div class="row justify-content-center">
      <nav class="">
        <ul class="pagination">
          <li class="page-item" :class="{disabled: isInFirstPage}">
            <a class="page-link" @click="onClickFirstPage" tabindex="-1">Primeira</a>
          </li>
          <li class="page-item" :class="{disabled: isInFirstPage}">
            <a class="page-link" @click="onClickPreviousPage" tabindex="-1">Anterior</a>
          </li>
          <li v-for="page in pages" :key="page.name" class="page-item" :class="{disable: page.isDisabled}">
            <a class="page-link" @click="onClickPage(page.name)">{{page.name}}</a>
          </li>
          <li class="page-item" :class="{disabled: isInLastPage}">
            <a class="page-link" @click="onClickNextPage">Próximo</a>
          </li>
          <li class="page-item" :class="{disabled: isInLastPage}">
            <a class="page-link" @click="onClickLastPage" tabindex="-1">Primeira</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PaginationTable',
  props: {
    maxVisibleButtons: {
      type: Number,
      required: false,
      default: 3
    },
    totalPages: {
      type: Number,
      required: true,
      default: 0
    },
    total: {
      type: Number,
      required: true,
      default: 0
    },
    perPage: {
      type: Number,
      required: true,
      default: 5
    },
    currentPage: {
      type: Number,
      required: true,
      default: 1
    }
  },
  computed: {
    startPage () {
      if (this.currentPage === 1) {
        return 1
      }

      if (this.currentPage === this.totalPages) {
        return this.totalPages - this.maxVisibleButtons + 1
      }

      return this.currentPage - 1
    },

    endPage () {
      return Math.min(this.startPage + this.maxVisibleButtons - 1, this.totalPages)
    },

    pages () {
      const range = []

      for (let i = this.startPage; i <= this.endPage; i += 1) {
        range.push({
          name: i,
          isDisabled: i === this.currentPage
        })
      }

      return range
    },

    isInFirstPage () {
      return this.currentPage === 1
    },

    isInLastPage () {
      return this.currentPage === this.totalPages
    }
  },
  methods: {
    onClickFirstPage () {
      this.$emit('pagechanged', 1)
    },
    onClickPreviousPage () {
      this.$emit('pagechanged', this.currentPage - 1)
    },
    onClickPage (page) {
      this.$emit('pagechanged', page)
    },
    onClickNextPage () {
      this.$emit('pagechanged', this.currentPage + 1)
    },
    onClickLastPage () {
      this.$emit('pagechanged', this.totalPages)
    },
    isPageActive (page) {
      return this.currentPage === page
    }
  }

}
