<template>
  <div class="flex flex-col mt-2">
    <div class="justify-center w-full h-10">
      <div v-if="description" class="mr-auto text-center font-thin text-sm">
        Foram localizados {{pagination.total}} registros, exibindo {{pagination.from}} ao {{pagination.to}} - Página {{ pagination.currentPage }}
      </div>
      <ul class="pagination justify-center">
        <li :class="{'page-inative': pagination.currentPage <=1}">
          <a href="#" class="page-link" @click.prevent="changePage(1)">
            <font-awesome-icon icon="angle-double-left" />
          </a>
        </li>
        <li :class="{'page-inative': pagination.currentPage <=1}">
          <a href="#" class="page-link" @click.prevent="changePage(pagination.currentPage - 1)">
            <span>Anterior</span>
          </a>
        </li>

        <li v-show="pagination.lastPage > 1" v-for="(page, index) in pagesNumber" :class="{'page-active': page == pagination.currentPage}" :key="index">
          <a href="#" class="page-link" @click.prevent="changePage(page)">
            {{ page }}
          </a>
        </li>

        <li :class="{'page-inative': pagination.currentPage >= pagination.lastPage}">
          <a href="#" :class="['page-link',{'page-inative': pagination.currentPage >= pagination.lastPage}]" @click.prevent="changePage(pagination.currentPage + 1)">
            <span aria-hidden="true">Próxima</span>
          </a>
        </li>

        <li :class="{'page-inative': pagination.currentPage >= pagination.lastPage}">
          <a href="#" :class="['page-link',{'link-inative': pagination.currentPage >= pagination.lastPage}]" @click.prevent="changePage(pagination.lastPage)">
            <font-awesome-icon icon="angle-double-right" />

          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    description: {
      type: Boolean,
      required: false,
      default: false
    },
    pagination: {
      type: Object,
      required: true,
      default: () => {
        return {
          currentPage: 1,
          firstPageUrl: null,
          from: 1,
          lastPage: 1,
          nextPage: 1,
          path: null,
          perPage: 1,
          prevPage_url: null,
          to: null,
          total: 1
        }
      }
    },
    offset: {
      type: Number,
      default: 4
    }
  },
  computed: {
    pagesNumber () {
      const pagesArray = []
      // Verifica se tem itens para paginar, se não tiver retorna o Array vazio
      if (!this.pagination.to) {
        return []
      }
      // Define a próxima página
      let from = this.pagination.currentPage - this.offset
      if (from < 1) {
        from = 1
      }
      // Define a última opção páginação
      let to = from + this.offset
      if (to >= this.pagination.lastPage) {
        to = this.pagination.lastPage
      }
      // Cria as opções de paginação
      for (let page = from; page <= to; page++) {
        pagesArray.push(page)
      }
      // Array montado com as opções de paginação (Número de opções de paginação === offset)
      return pagesArray
    }
  },
  methods: {
    changePage (page) {
      this.$emit('paginate', page)
    }
  }
}
</script>
